.category-heading
{
    font-variant: small-caps;
    font-size: 2.5rem;
    text-decoration: overline;
    text-decoration: underline;
}

.service-name
{
    font-variant: small-caps;
    font-size: 1.5rem;
    text-indent: 1rem;
}

/*.service-text
{

}*/